[env]
build_flags =
    -D EXCAVATOR_MAC=0xAA,0xBB,0xCC,0xDD,0xEE,0xFF
    -D WIFI_SSID=\"MyWiFi\"
    -D WIFI_PASSWORD=\"MyPassword\"
    -D HOSTNAME=\"Liebherr-R980-Control\"
    -D OTA_PASSWORD=\"topsecret\"

; Optionally predefine upload_port and upload_speed
; [env:esp32dev]
; monitor_port = COM3
; upload_speed = 921600
; upload_port = COM3

[env:esp32dev-ota]
upload_port = Liebherr-R980-Control
upload_flags =
    --auth=topsecret